.float-right {
  float: right;
  margin-left: 2rem;
  margin-bottom: 1rem;
  max-width: 42%;
}

.float-right img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .float-right {
    float: none;
    margin: 1rem auto;
    max-width: 80%;
    display: block;
  }
}
